# Build output
bin/
bin-int/
MyShell/assets/
Cherry/assets/
MyShell/logs/
*.obj
*.o
*.lib
*.dll
*.exe
*.json
*.png
*.dds
# Visual Studio
.vs/
*.sdf
*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb

# Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.sln
*.opensdf

# ImGui .ini settings
imgui.ini
*.ini

# Logs / temp files
*.txt
*.log
*.tmp
*.bak
*.cache
